* {
    box-sizing: border-box
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    color: #000;;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.logo{
    width: 220px;
}

.login {
    text-align: center;
    width: 300px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    margin: 30px;
}

.login form input {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login form button {
    background-color: #0095f6;
    color: #fff;
    padding: 7px 10px;
    margin: 20px 0;
    width: 100%;
    border: none;
}

/* REGISTRO.HTML*/
.cadastro {
    text-align: center;
    width: 450px;
    border: 1px solid #ccc;
    padding: 40px 20px;
    margin: 30px;   
}

.cadastro form input {
    width: 100%;
    height: 30px;
    margin: 7px 0;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cadastro form button {
    background-color: #0095f6;
    color: #fff;
    padding: 7px 10px;
    margin: 20px 0;
    width: 100%;
    border: none;
}

.cta-cadastro {
    border: 1px solid #ccc
}

.documentacao {
    color: #000;
    font-weight: bold;
    text-decoration: none;  
}

.cta-link{
    color: #000;
    font-weight: bold;
}

/*INDEX.HTML*/
.postagem-instagram{
    border: 1px solid #ccc;
}

.caixa-usuario{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.foto-perfil{
    margin: 10px 0 10px 10px;
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.username{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 0 0 0 15px;
}

.publicacao{
    width: 500px;
}

.caixa-texto-publicacao{
    display: flex;
    justify-content: space-between;
}

.like{
    font-weight: bold;
}

.data{
    font-weight: bold;
    margin-right: 10px;
}

.texto-publicacao{
    margin-left: 10px;
}

.secao-comentarios{
    margin-left: 10px;
}

.comentar{
    display: flex;
    border: 1px solid #ccc;
}

.input-coment{
    height: 50px;
    width: 410px;
    border: none;
    background-color: #fafafa;
}

.publicar{
    width: 90px;
    border: none;
    background-color: #fafafa;
    color: #0095f6;
}